        alias ls='ls --color'
                alias grep='grep --color=auto'
                alias fgrep='fgrep --color=auto'
                alias egrep='egrep --color=auto'
                alias ll='ls -l'
                alias l='ls -CF'
                alias la='ls -la'
                alias vi='vim'
		alias igrep='grep -i'
                alias lsg='ls -la | igrep -n'
		alias lsgr='ls -laR | igrep -n'
                alias freemem='echo "echo 1 > /proc/sys/vm/drop_caches" | sudo sh'
                alias dog='pygmentize -g'
                alias please='sudo $(fc -ln -1)'
                alias ok='eval $($(fc -ln -1) 2>&1 | sed -n 2p)'
		alias cmdlist='compgen -abc -A function'
                alias gimme='sudo apt-get install'
                alias tweak="source "$PS1_PATH"$PS1_FILE"
                alias hide='source '"$PS1_PATH"".PS1.anon"
                alias unhide='tweak'
		alias 192='nmap -sP 192.168.0-1.0/24'
		alias me='ifconfig | igrep inet'
		alias count="lsg -c"
                alias dir='ls -d */'
# Add an "alert" alias for long running commands.  Use like so:
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'
# ~/.bash_aliases, instead of adding them here directly.
if [ -f ~/.bash_aliases ]; then
    . ~/.bash_aliases
